<h1 class="page-header">{{component.name}} Component</h1>
<div class="row">
    <div class="col-sm-4">
        <div class="list-group">
            <button type="button" *ngFor="let file of files" (click)="viewFileDetails(file)" class="list-group-item list-group-item-action">
                {{file.name}}
            </button>
        </div>
    </div>
    <div class="col-sm-8">
        <pre *ngIf="activeFile!=null"><code class="java hljs">{{activeFile.content}}</code></pre>
    </div>
</div>