<div class="bs-component">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="javascript:void(0)" [routerLink]="['']">Brand</a>
      </div>
    </div>
  </nav>
  <div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div>

  <ul class="nav navbar-nav side-nav">
    <li><a href="javascript:void(0)">Languages</a></li>
    <li *ngFor="let language of languages"><a href="javascript:void(0)" (click)="goToLanguage(language)">{{language.name}}</a></li>
    <li><a href="#">Components</a></li>
    <li><a href="#">Files</a></li>
  </ul>
</div>
<div class="container">
  <router-outlet>
  </router-outlet>
</div>