<h1 class="page-header">{{language.name}} Style Guide</h1>

<div class="list-group">
  <button type="button" *ngFor="let component of components" (click)="goToComponent(component)" class="list-group-item list-group-item-action">
    {{component.name}}
    </button>
  <button type="button" (click)="viewFileDetails(file)" class="list-group-item list-group-item-action active">
    New Component
  </button>
</div>